<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research Project Matcher</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/logo_white.png" type="image/x-icon">
</head>
<body>
    <nav>
        <div class="nav-container">
            <div class="logo">
                <img src="../static/logo_black.png" alt="logo">
                <h2>IIT Gandhinagar</h2>
            </div>
        </div>
    </nav>
    <div class="content-container">
        <h1>Faculty Connect</h1>
        <p>Work with us to undertake Research & Development that is profoundly inspired and globally connected.</p>
        <div class="search-bar-container">
            <form id="description-form">
                <div class="row align-items-center">
                    <div class="col-lg-8 mb-3">
                        <input class="search-bar form-control" name="description" placeholder="Enter project description..." aria-label="Project Description">
                    </div>
    
                    <div class="col-lg-4 mb-3">
                        <label for="SearchType" class="form-label" style="padding-bottom: 0; margin-bottom: 5px; text-align: start;">Search Type :</label>
                        <div class="d-flex align-items-center" style="padding-bottom: 5px;">
                            <div class="form-check me-4">
                                <input type="radio" class="form-check-input" onclick="toggleSearch('description')" name="SearchType" id="disc2" value="1" checked>
                                <label class="form-check-label" for="disc1">Text</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" onclick="toggleSearch('keywords')" id="key2" name="SearchType" value="2">
                                <label class="form-check-label" for="key2">Keyword</label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" id="disc" class="btn btn-primary w-100 btn-lg">
                    <span>Find Faculty</span>
                    <div class="spinner-border spinner-border-sm" role="status"></div>
                </button>
            </form>
            <form id="keywords-form" style="display:none;">
                <div class="row align-items-center">
                    <div class="col-lg-8 mb-3">
                        <input class="search-bar form-control" name="keywords" placeholder="Enter keywords..." list="tag-suggestions" aria-label="Keywords">
                    </div>
    
                    <div class="col-lg-4 mb-3">
                        <label for="SearchType" class="form-label" style="padding-bottom: 0; margin-bottom: 5px; text-align: start;">Search Type :</label>
                    <div class="d-flex align-items-center" style="padding-bottom: 5px;">
                        <div class="form-check me-4">
                            <input type="radio" class="form-check-input" onclick="toggleSearch('description')" name="SearchType" id="disc1" value="1" checked>
                            <label class="form-check-label" for="disc2">Text</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" onclick="toggleSearch('keywords')" id="key1" name="SearchType" value="2">
                            <label class="form-check-label" for="key2">Keyword</label>
                        </div>
                    </div>
                    </div>
                </div>
                <datalist id="tag-suggestions"></datalist>
                <button type="submit" id="key" class="btn btn-primary w-100 btn-lg">
                    <span>Find Faculty by Keywords</span>
                    <div class="spinner-border spinner-border-sm" role="status"></div>
                </button>
            </form>
        </div>
        <div id="faculty-result" class="mt-5"></div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            function toggleButtonLoading(button, isLoading) {
                const spinner = button.querySelector('.spinner-border');
                const buttonText = button.querySelector('span');

                if (isLoading) {
                    button.disabled = true;
                    buttonText.style.display = 'none';
                    spinner.style.display = 'inline-block';
                } else {
                    button.disabled = false;
                    buttonText.style.display = 'inline-block';
                    spinner.style.display = 'none';
                }
            }

            async function fetchTags(query) {
                try {
                    const response = await fetch('/available_tags');
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    const tags = await response.json();
                    const filteredTags = tags.filter(tag => tag.toLowerCase().includes(query.toLowerCase()))
                                            .slice(0, 10); 

                    const datalist = document.getElementById('tag-suggestions');
                    datalist.innerHTML = '';
                    filteredTags.forEach(tag => {
                        const option = document.createElement('option');
                        option.value = tag;
                        datalist.appendChild(option);
                    });
                } catch (error) {
                    console.error('Error fetching tags:', error);
                }
            }

            document.getElementById('keywords-form').keywords.addEventListener('input', function(event) {
                const query = event.target.value;
                if (query.length >= 2) { 
                    fetchTags(query);
                }
            });

            document.getElementById('description-form').onsubmit = function(event) {
                event.preventDefault();
                // const button = this.querySelector('button'); 
                const button = document.getElementById('disc'); 
                toggleButtonLoading(button, true);

                const formData = new FormData(this);
                fetch('/expand_description', {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                }).then(data => {
                    if (data.error) {
                        document.getElementById('faculty-result').innerText = `Error: ${data.error}`;
                        document.getElementById('faculty-result').classList.add('alert', 'alert-danger');
                    } else {
                        const facultyList = data.map(faculty => `
                            <li class="list-group-item d-flex align-items-center" style="width:100%;">
                                <img src="${faculty['Profile Picture']}" alt="${faculty.Name}'s profile picture" class="img-thumbnail" style="width:50%; height: 90%; margin-right-10px; object-fit: cover;">
                                <div style="width:80%;display: flex; flex-direction:column; padding-left:10px; text-align:start;">
                                    <h2 class="name-head"><a href="${faculty['Profile link']}" style="text-decoration:underline;" target="_blank" class="fw-bold">${faculty.Name}</a></h2>
                                    <p style="width:100%" class="mb-1"><span style="font-weight:bold">Department</span>: ${faculty.Department}</p>
                                    ${faculty['Email ID'] ? `<p class="mb-1"><span style="font-weight:bold">Email</span>: ${faculty['Email ID']}</p>` : ''}
                                    ${faculty['Office location'] ? `<p class="mb-1"><span style="font-weight:bold">Office</span>: ${faculty['Office location']}</p>` : ''}
                                </div>
                            </li>`).join('');
                        document.getElementById('faculty-result').innerHTML = `<ul id="faculty-ul" class="list-group">${facultyList}</ul>`;
                    }
                }).catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while expanding the description.');
                }).finally(() => {
                    toggleButtonLoading(button, false);
                });
            };

            document.getElementById('keywords-form').onsubmit = function(event) {
                event.preventDefault();
                // const button = this.querySelector('button');
                const button = document.getElementById('key');
                toggleButtonLoading(button, true);

                const formData = new FormData(this);
                fetch('/search_by_keywords', {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                }).then(data => {
                    if (data.error) {
                        document.getElementById('faculty-result').innerText = `Error: ${data.error}`;
                        document.getElementById('faculty-result').classList.add('alert', 'alert-danger');
                    } else {
                        const facultyList = data.map(faculty => `
                            <li class="list-group-item d-flex align-items-center" style="width:100%;">
                                <img src="${faculty['Profile Picture']}" alt="${faculty.Name}'s profile picture" class="img-thumbnail" style="width:50%; height: 90%; margin-right-10px; object-fit: cover;">
                                <div style="width:80%;display: flex; flex-direction:column; padding-left:10px; text-align:start;">
                                    <h2 class="name-head"><a href="${faculty['Profile link']}" style="text-decoration:underline;" target="_blank" class="fw-bold">${faculty.Name}</a></h2>
                                    <p style="width:100%" class="mb-1"><span style="font-weight:bold">Department</span>: ${faculty.Department}</p>
                                    ${faculty['Email ID'] ? `<p class="mb-1"><span style="font-weight:bold">Email</span>: ${faculty['Email ID']}</p>` : ''}
                                    ${faculty['Office location'] ? `<p class="mb-1"><span style="font-weight:bold">Office</span>: ${faculty['Office location']}</p>` : ''}
                                </div>
                            </li>`).join('');
                        document.getElementById('faculty-result').innerHTML = `<ul class="list-group">${facultyList}</ul>`;
                    }
                }).catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while searching by keywords.');
                }).finally(() => {
                    toggleButtonLoading(button, false);
                });
            };

            document.querySelectorAll('.search-options > span').forEach(span => {
                span.addEventListener('click', function() {
                    const dropdown = this.nextElementSibling;
                    dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
                });
            });

            window.addEventListener('click', function(event) {
                if (!event.target.matches('.search-options > span')) {
                    document.querySelectorAll('.search-options-dropdown').forEach(dropdown => {
                        dropdown.style.display = 'none';
                    });
                }
            });
        });

        function toggleSearch(method) {
            if (method === 'description') {
                document.getElementById('description-form').style.display = 'block';
                document.getElementById('keywords-form').style.display = 'none';
                //the text radio input should got checked and keyword radio input should get unchecked
                document.getElementById('disc2').checked = true;
                document.getElementById('key2').checked = false;
            } else if (method === 'keywords') {
                document.getElementById('description-form').style.display = 'none';
                document.getElementById('keywords-form').style.display = 'block';
                document.getElementById('disc1').checked = false;
                document.getElementById('key1').checked = true;
            }
        }
    </script>
</body>
</html>
